<div class="container">
    <h2 oda-label="qcm.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="qcm.hello"></span>
            <br/>
            <br/>
        </div>
        <div class="col-md-12">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
            </div>
        </div>
        <div class="col-md-12" id="qcm">
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.Qcm.start();
</script>

<script id="qcmTitle" type="text/template">
    <div id="{{id}}" style="display: none;">
        <div class="row">
            <div class="col-md-11 text-center">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" oda-label="qcm.start" oda-submit="submit" onclick="$.Oda.App.Controller.Qcm.moveNext();" class="btn btn-primary">qcm.start</button >
            </div>
        </div>
    </div>
</script>

<script id="qcmQuestion" type="text/template">
    <div id="{{id}}" style="display: none;">
        <h2>{{titleQcm}} - {{title}}</h2>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                {{responses}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" oda-label="qcm.validate" id="validate-{{id}}" onclick="$.Oda.App.Controller.Qcm.validate();" class="btn btn-primary">qcm.validate</button >
                <button type="button" oda-label="qcm.next" oda-submit="submit-{{id}}" onclick="$.Oda.App.Controller.Qcm.moveNext();" class="btn btn-success" style="display: none;">qcm.next</button >
            </div>
        </div>
    </div>
</script>

<script id="qcmResponse" type="text/template">
    <div class="form-group">
        <div class="checkbox">
            <input type="checkbox" data-attempt="{{responseBody}}" oda-input-select="{{id}}">
            <label>
                {{title}}
            </label>
        </div>
    </div>
</script>