<div class="container">
    <h2 oda-label="home.title"></h2>

    <div class="row">
        <div class="col-md-12">
            <span oda-label="home.hello"></span>
        </div>
        <div class="col-md-12" id="qcm">
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controller.Qcm.start();
</script>

<script id="qcmTitle" type="text/template">
    <div id="{{id}}" style="display: none;">
        <div class="row">
            <div class="col-md-11">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" oda-label="qcm.next" oda-submit="submit" onclick="$.Oda.App.Controller.Qcm.moveNext();" class="btn btn-primary">qcm.next</button >
            </div>
        </div>
    </div>
</script>

<script id="qcmQuestion" type="text/template">
    <div id="{{id}}" style="display: none;">
        {{titleQcm}}<br/>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                {{responses}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button type="button" oda-label="qcm.next" oda-submit="submit" onclick="$.Oda.App.Controller.Qcm.moveNext();" class="btn btn-primary">qcm.next</button >
            </div>
        </div>
    </div>
</script>

<script id="qcmResponse" type="text/template">
    <div class="form-group">
        <div class="checkbox">
            <input type="checkbox">
            <label>
                {{title}} ({{responseBody}})
            </label>
        </div>
    </div>
</script>