/src/nbproject/
/src/nbproject/*
/src/.idea/
/src/.idea/*
/src/API/lib/
/src/API/lib/*
/src/API/libs/
/src/API/libs/*
/src/libs/
/src/libs/*
/src/config/config.js
bower_components/
bower_components/*
node_modules/*
node_modules/
node_modules/*
nbproject/
nbproject/*
.idea/
.idea/*