<div class="container">
    <h2 oda-label="gerer-deck.title"></h2>

    <div class="row">
        <div class="col-md-12" id="listDeckContent">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-12">
            <button onclick="$.Oda.App.Controler.GererDeck.newDeck();" oda-label="gerer-deck.newDeck" class="btn btn-primary"></button>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.GererDeck.start();
</script>

<style>

</style>

<script id="deck-details" type="text/template">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <span oda-label="gerer-deck.deckActif" style="font-weight: bold;"></span><br>
                    <input id="deckActif" type="checkbox" {{(deckActif==='1')?'checked':''}}>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckName" oda-label="gerer-deck.deckName">name</label>*
                    <input type="text" class="form-control" oda-input-text="deckName" oda-input-text-tips="gerer-deck.deckName-tips" required
                           oda-input-text-placeholder="gerer-deck.deckName-placeholder" oda-input-text-check="Oda.Regexs:noInjectionNoEmpty" value="{{deckName}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckType" oda-label="gerer-deck.deckType">deckType</label>
                    <select class="form-control" oda-input-select="deckType">
                        <option value="arene" {{(deckType==='arene')?'selected':''}}>Arène</option>
                        <option value="regular" {{(deckType==='regular')?'selected':''}}>Construit</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckCmt" oda-label="gerer-deck.deckCmt">deckCmt</label>
                    <input type="text" class="form-control" oda-input-text="deckCmt"
                           oda-input-text-tips="gerer-deck.deckCmt-tips"
                           oda-input-text-placeholder="gerer-deck.deckCmt-placeholder"
                           oda-input-text-check="Oda.Regexs:noInjection"
                           value="{{deckCmt}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" id="div_graphCout">
                <oda-loading></oda-loading>
            </div>
            <div class="col-md-4" id="div_graphRepart">
                <oda-loading></oda-loading>
            </div>
        </div>
    </form>
</script>

<script id="deck-list" type="text/template">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading"><span oda-label="paquet-add.labrary"></span></div>
                <div id="div_inventaire" class="panel-body">
                    <oda-loading></oda-loading>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading"><span oda-label="paquet-add.packet"></span></div>
                <div id="div_paquet" class="panel-body">
                    <oda-loading></oda-loading>
                </div>
                <div id="div_valider"></div>
            </div>
            <span id="div_deckModifInfos"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8" id="div_graphCout">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-4" id="div_graphRepart">
            <oda-loading></oda-loading>
        </div>
    </div>
</script>

<script id="deck-new" type="text/template">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckClass" oda-label="gerer-deck.deckClass">deckClass</label>
                    <select class="form-control" oda-input-select="deckClass" required>
                        <option value="" oda-label="oda-main.select-default"></option>
                        <option value="prest">Prêtre</option>
                        <option value="warrior">Guerrier</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckName" oda-label="gerer-deck.deckName">name</label>
                    <input type="text" class="form-control" oda-input-text="deckName" oda-input-text-tips="gerer-deck.deckName-tips"
                           oda-input-text-placeholder="gerer-deck.deckName-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckType" oda-label="gerer-deck.deckType">deckType</label>
                    <select class="form-control" oda-input-select="deckType" required>
                        <option value="" oda-label="oda-main.select-default"></option>
                        <option value="arene">Arène</option>
                        <option value="regular">Construit</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="deckCmt" oda-label="gerer-deck.deckCmt">deckCmt</label>
                    <input type="text" class="form-control" oda-input-text="deckCmt"
                           oda-input-text-tips="gerer-deck.deckCmt-tips"
                           oda-input-text-placeholder="gerer-deck.deckCmt-placeholder"
                           oda-input-text-check="Oda.Regexs:noInjection">
                </div>
            </div>
        </div>
    </form>
</script>
