<div class="container">
    <h2 oda-label="rapports-meta.title"></h2>
    <div class="row">
        <div class="col-md-4" id="div_repartitionMetaG">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-4" id="div_repartitionMetaNC">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-4" id="div_repartitionMetaC">
            <oda-loading></oda-loading>
        </div>
        <div class="col-md-4" id="div_repartitionMetaA">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>
<script>
    $.Oda.App.Controler.RapportsMeta.start();
</script>