<div class="container">
    <h2 oda-label="rec-matchs.title"></h2>

    <div class="row">
        <div class="col-md-12" id="content-recMatchs">
            <oda-loading></oda-loading>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12" id="content-histoMatchs">
            <oda-loading></oda-loading>
        </div>
    </div>
</div>

<script>
    $.Oda.App.Controler.RecMatchs.start();
</script>

<style>

</style>

<script id="recMatchNew" type="text/template">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="matchType" oda-label="rec-matchs.matchType">matchType</label>
                <select class="form-control" oda-input-select="matchType" required>
                    <option value="" oda-label="oda-main.select-default"></option>
                    <option value="Arène">Arène</option>
                    <option value="Classé">Classé</option>
                    <option value="Non classé">Non classé</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="matchNameAdv" oda-label="rec-matchs.matchNameAdv">matchNameAdv</label>
                <input type="text" class="form-control" oda-input-text="matchNameAdv" oda-input-text-tips="rec-matchs.matchNameAdv-tips"
                       oda-input-text-placeholder="rec-matchs.matchNameAdv-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="div_nom_deck">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                <span oda-label="rec-matchs.matchCoin" style="font-weight: bold;"></span><br>
                <input id="matchCoin" type="checkbox">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="form-group">
                    <label for="matchClass" oda-label="rec-matchs.matchClass">matchClass</label>
                    <select class="form-control" oda-input-select="matchClass" required>
                        <option value="" oda-label="oda-main.select-default"></option>
                        <option value="Chaman">Chaman</option>
                        <option value="Chasseur">Chasseur</option>
                        <option value="Démoniste">Démoniste</option>
                        <option value="Druide">Druide</option>
                        <option value="Guerrier">Guerrier</option>
                        <option value="Mage">Mage</option>
                        <option value="Paladin">Paladin</option>
                        <option value="Prêtre">Prêtre</option>
                        <option value="Voleur">Voleur</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" onclick="$.Oda.App.Controler.RecMatchs.recNewMatch();" class="btn btn-primary disabled" oda-submit="bt_valider"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <label oda-label="oda-main.bt-submit>"></label></button>
        </div>
    </div>
</script>

<script id="seeMatchNew" type="text/template">
    <div class="row">
        <div class="col-md-5">
            <h3>{{deckName}}</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="leftLive" oda-label="rec-matchs.leftLive">leftLive</label>
                        <input type="number" class="form-control" oda-input-text="leftLive" oda-input-text-tips="rec-matchs.leftLive-tips"
                               oda-input-text-placeholder="rec-matchs.leftLive-placeholder" oda-input-text-check="Oda.Regexs:noInjection" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="myRank" oda-label="rec-matchs.myRank">myRank</label>
                        <input type="number" class="form-control" oda-input-text="myRank" oda-input-text-tips="rec-matchs.myRank-tips"
                               oda-input-text-placeholder="rec-matchs.myRank-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <img src="./img/icon_versus.png" title="Versus!">
        </div>
        <div class="col-md-5">
            <h3>{{advName}}</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="advType" oda-label="rec-matchs.advType">advType</label>
                        <select class="form-control" oda-input-select="advType" required>
                            <option value="" oda-label="oda-main.select-default"></option>
                            <option value="Agressif">Agressif</option>
                            <option value="Midrange">Midrange</option>
                            <option value="Contrôle">Contrôle</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="advRank" oda-label="rec-matchs.advRank">advRank</label>
                        <input type="number" class="form-control" oda-input-text="advRank" oda-input-text-tips="rec-matchs.advRank-tips"
                               oda-input-text-placeholder="rec-matchs.advRank-placeholder" oda-input-text-check="Oda.Regexs:noInjection">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" onclick="$.Oda.App.Controler.RecMatchs.updateNewMatch({id: {{idMatch}} });" class="btn btn-primary disabled" oda-submit="bt_valider"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <label oda-label="oda-main.bt-submit>"></label></button>
            <button type="button" onclick="$.Oda.App.Controler.RecMatchs.filterByAdv({name: '{{advName}}' });" class="btn btn-primary" id="bt_filter"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <label oda-label="rec-matchs.bt-filter>"></label></button>
        </div>
    </div>
</script>